# Bibliotecas de sistema e garantias
setuptools>=65.0.0
wheel>=0.40.0
greenlet==3.0.3

# Bibliotecas do seu robô e IA
pandas
yfinance
requests
pytz
pyTelegramBotAPI
gspread
Flask
gunicorn
google-generativeai
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
PyPDF2
lxml
xlrd
python-dateutil
xmltodict
openpyxl
cssselect
html5lib
beautifulsoup4

# Novas Bibliotecas Institucionais (O motor do novo CVM)
quantstats
finlogic
brfinance

# Playwright (necessário para a sua "invasão" ao StatusInvest)
playwright==1.42.0